v.1.0
2020-02-17 10:12:30.540  INFO  ugc-lib/cacheService- "cacheService initialize"
2020-02-17 10:12:30.540  INFO  ugc-lib/cacheService- "cacheService initialize complete"
2020-02-17 10:12:30.541  INFO  osc/galleryService- "Source to clear: " undefined
2020-02-17 10:12:30.542  INFO  nvJsEvents/jsEventsService- "jsEventsService created"
2020-02-17 10:12:30.542  INFO  events-detail/eventsDetailService- "eventsDetailService created"
2020-02-17 10:12:30.543  INFO  main.common/telemetryService- "telemetryService created"
2020-02-17 10:12:30.548  INFO  main.common/ugcService- "ugcService created"
2020-02-17 10:12:30.552  INFO  osc/gamepadService- "Gamepad Service entered"
2020-02-17 10:12:30.554  INFO  main/appService- "Init"
2020-02-17 10:12:30.554  INFO  main/appService- "OSC Build Info:" {
  "oscPackageVersion": "3.16.0.122",
  "branch": "rel_03_16",
  "branchType": "rel",
  "oscClientVersion": "0.0.1",
  "gitHash": "a70ff3df36",
  "buildType": "prod"
}
2020-02-17 10:12:30.554  DEBUG  crimson.cef/cefService- "LOAD STRING TABLE" {
  "userAgent": "NVIDIAOSCClient/3.16.0.122"
}
2020-02-17 10:12:30.704  INFO  osc/urlRouter/main/resolve- "Request NodeInfo"
2020-02-17 10:12:30.932  INFO  osc/urlRouter/main/resolve- {
  "active": false,
  "errorCode": "00